*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    overflow-x: hidden;
}
.header{
    grid-area: h;
    width: auto;
    max-height: 750px;
    position: relative;
    text-align: center;
}
.header img{
    width: 100vw;
    height: 100vh;
}
.header-slogan{
    position: absolute;
    top: 85%;
    left: 30vw;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: uppercase;
}
.main-content{
    grid-area: m;
    background-color: #151515;
    width: 80vw;
    height: 100%;
    margin: auto;
    color: white;
}
.wrapper{
    margin-left: 10vw;
    padding-top: 20px;
}
.topic-in-bold{
    font-family: 'PT Serif', serif;
    margin-top: 20px;
}
.text-massive{
    margin-top: 15px;
}
.footer{
    background-color: #0e0e0e;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.d{
    margin-top: 25px;
}
.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
iframe{
    position: absolute;
    top:0;
    left:0;
    width: 90%;
    height: 100%;
}
@media screen and (max-width: 900px){
    .header img{
        height: 700px;
    }
    .header-slogan{
        left: 20vw;
    }
}
@media screen and (max-width: 700px){
    .header img{
        height: 600px;
    }
    .header-slogan{
        left: 10vw;
        font-size: 20px;
    }
}
@media screen and (max-width: 600px){
    .header img{
        height: 50vh;
    }
}
@media screen and (max-width: 450px){
    .header img{
        height: 40vh;
    }
}
@media screen and (max-width: 360px){
    .header img{
        height: 30vh;
    }
    .header-slogan{
        left: 2.5vw;
        top: 70%;
        font-size: 18px;
    }
    iframe{
        width: 100%;
    }
    .main-content{
        width: 90vw;
        margin-left: 0;

    }
}
@media screen and (max-width: 250px){
    .header img{
        height: 25vh;
    }
    .header-slogan{
        left: 0vw;
        top: 75%;
        font-size: 15px;
    }
    .main-content{
        width: 95vw;
    }
}